@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@media (max-width: 992px) {
    .container {
    max-width: 750px;
    margin: 0 auto;
}
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}