.button {
    width: 150px;
    height: 30px;
    background: $main-color;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
        box-shadow: 3px 3px 20px $main-color;
    }
    &_main {
        margin-top: 67px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        width: 300px;
        height: 55px;
        background: $main-color;
        font-size: 16px;
    }
    &_mini {
        width: 135px;
        height: 44px;
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .button {
        &:hover {
            box-shadow: none;
        }
        &_main {
            margin-top: 50px;
            width: 250px;
            height: 45px;
            font-size: 14px;
        }
        &_submit {
            width: 300px;
            height: 55px;
            background: $main-color;
            font-size: 16px;
        }
        &_mini {
            width: 87px;
            height: 27px;
            font-size: 12px;
        }
    }
}
@media (max-width: 767px) {
    .button {
        margin-top: 35px;
        width: 175px;
        height: 30px;
        font-size: 11px;
        &_submit {
            margin-top: 0;
            width: 242px;
            height: 35px;
            background: $main-color;
            font-size: 13px;
        }
        &_mini {
            width: 87px;
            height: 27px;
            font-size: 12px;
        }
    }
}