.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
}
@media (max-width: 992px) {
    .carousel {
        padding: 60px 0 40px 0;
        &__inner {
            position: relative;
            width: auto;
            img {
                display: block;
                margin: 0 auto;
                width: 90%;
            }
        }
        .slick-dots {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            height: 5px;
            display: flex;            
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin-bottom: 0;
            padding: 0;
            li {
                margin: 0 5px;
                button {
                    border: none;
                    border-radius: 3px;
                    width: 45px;
                    height: 6px;
                    background-color: #D0D0D0;
                    overflow: hidden;
                    &:active, &:focus {
                        outline: none;
                    }
                }
            }
            .slick-active {
                button {
                    background-color: $main-color;
                }
            }
        }
        .slick-list {
            display: block;
            margin: 0 auto;
        }
    }
}
@media (max-width: 767px) {
    .carousel {
        padding: 45px 0 25px 0;
        .slick-dots {
            top: -14px;
        }
    }
}