.consultation {
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url(../img/bg/legs_bg.png) center (center/cover) no-repeat;
    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
}

@media (max-width: 992px) {
    .consultation {
        min-height: 560px;
        padding: 70px 36px 55px 36px;
        background-position: 30% 100%;
        &__descr {
            font-size: 18px;
            line-height: 25px;
        }
    }
}

@media (max-width: 767px) {
    .consultation {
        min-height: 400px;
        padding: 30px 36px 25px 36px;
        &__descr {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
    }
}