.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/bg/main_bg.png) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 90px;
    }
    &__header {
        color: #fff;
        font-weight: 700;
        font-size: 42px;
        text-transform: uppercase;
        line-height: 42px;
    }
    &__subheader {       
        margin-top: 17px;          
        color: #FFFFFF;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 60px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        margin-top: 8px;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        a {    
            color: #FFFFFF;   
            text-transform: uppercase;     
            text-decoration: underline;
        }
    }
}
@media (max-width: 992px) {
    .promo {
        min-height: 500px;
        padding: 20px 0 40px 0;
        background-position: 15% 100%;
        &__wrapper {
            margin: 30px;
        }
        &__header {
            font-size: 34px;
        }
        &__subheader {
            margin-top: 10px;
            font-size: 20px;
        }
        &__icons {
            margin-top: 45px;
        }
    }
}
@media (max-width: 767px) {
    .promo {
        min-height: 400px;
        padding: 40px 0 40px 0;
        background-position: 41% 100%;
        &__header {
            margin-top: 20px;
            font-size: 21px;
            line-height: 21px;
        }
        &__subheader {
            font-size: 12px;
            line-height: 12px;
        }
        &__wrapper {
            margin: 0 20px;
            align-items: center;
        }
        &__icons {
            margin-top: 20px;
            width: 270px;
        }
        &__icon {
            font-size: 12px;
            img {
                width: 40%;
            }
        }
        &__link {
            font-size: 12px;
        }
    }
}