.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #0D0D0D;
    text-transform: uppercase;
    &_left {
        color: #fff;
        font-size: 36px;
        line-height: 54px;
        text-align-last: left;
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 20px;
    }
}